<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=melonstoragesa;AccountKey=ITKAAAViqttD9dPDBSyD6CsABeGkLofk1zNMZtDuhBi6x2/TcjzwtvPrltgIbdBJo1wtpaswQ8kJ+AStPXLPSw==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>